body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.height600{
  min-height: 480px;
}
.purple{
  
  background-color: #849;

}
.dpurple{
  background-color: #627;
  

}

.fish{
max-height: 120px;
max-width: 40px;
}
.sea{
  background-color: #faf8fa;
}